.center {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: inline-block; }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(30rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.header {
  background-color: #FF9EA3;
  height: 90vh;
  -webkit-clip-path: circle(83.6% at 50% 11%);
  clip-path: circle(83.6% at 50% 11%); }
  .header--animated {
    animation: moveInTop .5s ease-out .5s;
    animation-fill-mode: backwards; }

.table {
  border-collapse: collapse;
  position: fixed;
  top: 40%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  display: inline-block;
  height: 200px; }
  .table:nth-child(even) {
    background-color: #D9FFD5; }
  .table:nth-child(odd) {
    background-color: #D5FFFB; }
