@import "abstracts/variables.scss";

// @import "sass/_animation";

@keyframes moveInTop {
    0%{
        opacity: 0;
        transform: translateY(30rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

// @import "sass/_format";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    padding: 3rem;
    box-sizing: border-box;
}

// @import "sass/_layers";
.header {
    background-color: $color-main-red;
    height: 75vh;
    -webkit-clip-path: circle(60% at 50% 6%);
    clip-path: circle(60% at 50% 6%);
    animation: all .4s;

    &--animated {
        animation: moveInTop .5s ease-out .5s;
        animation-fill-mode: backwards;
    }
}

.main {

}

// @import "sass/_table";

.table {
    border-collapse: collapse;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    display: inline-block;
    height: 100px;

    &:nth-child(even) {
        background-color: $color-table-even;
    }
    &:nth-child(odd) {
        background-color: $color-table-odd;
    }
}


// @import "sass/_variables";

// $color-main-green: red;
// $color-main-red: #FF9EA3;
// $color-table-even: #D9FFD5;
// $color-table-odd: #D5FFFB;

.center {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
}
